# Data Cleaning

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('Data/NBCU-dataLaurel.csv')
data.head()

,imdbid,title,plot,rating,imdb_rating,metacritic,dvd_release,production,actors,imdb_votes,poster,director,release_date,runtime,genre,awards,keywords,Budget,Box Office Gross
0,tt0010323,The Cabinet of Dr. Caligari,"Hypnotist Dr. Caligari uses a somnambulist, Ce...",UNRATED,8.1,NaN,15-Oct-97,Rialto Pictures,"Werner Krauss, Conrad Veidt, Friedrich Feher, ...","42,583",https://images-na.ssl-images-amazon.com/images...,Robert Wiene,19-Mar-21,67 min,"Fantasy, Horror, Mystery",1 nomination.,expressionism|somnambulist|avant-garde|hypnosi...,18000,0
1,tt0052893,Hiroshima Mon Amour,A French actress filming an anti-war film in H...,NOT RATED,8.0,NaN,24-Jun-03,Rialto Pictures,"Emmanuelle Riva, Eiji Okada, Stella Dassas, Pi...","21,154",https://images-na.ssl-images-amazon.com/images...,Alain Resnais,16-May-60,90 min,"Drama, Romance",Nominated for 1 Oscar. Another 6 wins & 5 nomi...,memory|atomic-bomb|lovers-separation|impossibl...,88300,0
2,tt0058898,Alphaville,A U.S. secret agent is sent to the distant spa...,NOT RATED,7.2,NaN,20-Oct-98,Rialto Pictures,"Eddie Constantine, Anna Karina, Akim Tamiroff","17,801",https://images-na.ssl-images-amazon.com/images...,Jean-Luc Godard,5-May-65,99 min,"Drama, Mystery, Sci-Fi",1 win.,dystopia|french-new-wave|satire|comic-violence...,220000,46585
3,tt0074252,"Ugly, Dirty and Bad",Four generations of a family live crowded toge...,NaN,7.9,NaN,1-Nov-16,Compagnia Cinematografica Champion,"Nino Manfredi, Maria Luisa Santella, Francesco...","5,705",https://images-na.ssl-images-amazon.com/images...,Ettore Scola,23-Sep-76,115 min,"Comedy, Drama",1 win & 2 nominations.,incest|failed-murder-attempt|poisoned-food|bap...,6590,0
4,tt0084269,Losing Ground,A comedy-drama about a Black American female p...,NaN,6.3,NaN,NaN,Milestone Film & Video,"Billie Allen, Gary Bolling, Clarence Branch Jr...",132,https://images-na.ssl-images-amazon.com/images...,Kathleen Collins,1-Jun-82,86 min,"Comedy, Drama",NaN,artist|painter|marriage|black-independent-film...,0,0

In [3]:
data.shape

(8468, 19)

These are the variables we have to work with:

imdbid: Unique Id used by IMDB to refer to the movie.

Title: Title of the movie

plot: Movie plot summary

rating: MPAA Appropriate audience rating

imdb_rating: IMDB's voters' scoring of a movie on a scale from 1-10 (10 being best)

metacritic: Metacritic movie score on a scale of 0-100 (100 being best)

dvd_release: Movie release date on DVD

production: Principle production company

actors: Lead Actors

imdb_votes: Total votes from IMDB members

poster: Movie Poster artwork

director: Movie director

release_date: Theatrical Release Date

runtime: Runtime length of movie in minutes

genre: Genre Classification

awards: Academy awards & nominations

keywords: Keywords associated with the movie

budget: Budget spent on movie production, marketing, and distribution

box office gross: Box Office Gross Returns as of 9/21/2017

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8468 entries, 0 to 8467
Data columns (total 19 columns):
imdbid              8468 non-null object
title               8468 non-null object
plot                8196 non-null object
rating              5252 non-null object
imdb_rating         7735 non-null float64
metacritic          5079 non-null float64
dvd_release         5335 non-null object
production          6758 non-null object
actors              8153 non-null object
imdb_votes          7735 non-null object
poster              7967 non-null object
director            8390 non-null object
release_date        8283 non-null object
runtime             7846 non-null object
genre               8424 non-null object
awards              5242 non-null object
keywords            6381 non-null object
Budget              8468 non-null object
Box Office Gross    8468 non-null object
dtypes: float64(2), object(17)
memory usage: 1.2+ MB

Notice how many of variables are just objects. We're going to have to deal with converting a few of these into useful types.

First, we'll start by changing release_date to a datetime-like type.

In [5]:
data['release_date'].head()

0    19-Mar-21
1    16-May-60
2     5-May-65
3    23-Sep-76
4     1-Jun-82
Name: release_date, dtype: object

In [6]:
pd.to_datetime(data['release_date'])[1],data['release_date'][1]

(Timestamp('2060-05-16 00:00:00'), '16-May-60')

Then we see that there is an issue with pandas to_datetime function. It converts very old dates back to the 19th century. Perhaps we need to use the datetime package per [this](https://stackoverflow.com/questions/16600548/how-to-parse-string-dates-with-2-digit-year).

In [7]:
import datetime
import numpy as np

dates = data['release_date']

dates = pd.to_datetime(dates)

for i in range(len(dates)):
    if dates[i].year > 2019:
        dates[i] = dates[i].replace(year = dates[i].year-100)

dates.head()

0   1921-03-19
1   1960-05-16
2   1965-05-05
3   1976-09-23
4   1982-06-01
Name: release_date, dtype: datetime64[ns]

Then we've found a way to account for Python's default pivot year.

In [8]:
data['release_date']=dates
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8468 entries, 0 to 8467
Data columns (total 19 columns):
imdbid              8468 non-null object
title               8468 non-null object
plot                8196 non-null object
rating              5252 non-null object
imdb_rating         7735 non-null float64
metacritic          5079 non-null float64
dvd_release         5335 non-null object
production          6758 non-null object
actors              8153 non-null object
imdb_votes          7735 non-null object
poster              7967 non-null object
director            8390 non-null object
release_date        8283 non-null datetime64[ns]
runtime             7846 non-null object
genre               8424 non-null object
awards              5242 non-null object
keywords            6381 non-null object
Budget              8468 non-null object
Box Office Gross    8468 non-null object
dtypes: datetime64[ns](1), float64(2), object(16)
memory usage: 1.2+ MB

It seems natural to also do the same for dvd_release.

In [9]:
dates = data['dvd_release']

dates = pd.to_datetime(dates)

for i in range(len(dates)):
    if dates[i].year > 2019:
        dates[i] = dates[i].replace(year = dates[i].year-100)

data['dvd_release'] = dates
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8468 entries, 0 to 8467
Data columns (total 19 columns):
imdbid              8468 non-null object
title               8468 non-null object
plot                8196 non-null object
rating              5252 non-null object
imdb_rating         7735 non-null float64
metacritic          5079 non-null float64
dvd_release         5335 non-null datetime64[ns]
production          6758 non-null object
actors              8153 non-null object
imdb_votes          7735 non-null object
poster              7967 non-null object
director            8390 non-null object
release_date        8283 non-null datetime64[ns]
runtime             7846 non-null object
genre               8424 non-null object
awards              5242 non-null object
keywords            6381 non-null object
Budget              8468 non-null object
Box Office Gross    8468 non-null object
dtypes: datetime64[ns](2), float64(2), object(15)
memory usage: 1.2+ MB

Next, we have several important numerical variables that are currenly in object types. First, we'll work with imdb_votes.

In [10]:
data['imdb_votes'].head()

0    42,583
1    21,154
2    17,801
3     5,705
4       132
Name: imdb_votes, dtype: object

So we need to convert imdb_votes to integers. Since there are commas in each number, we cannot simply tell pandas to treat each entry as an integer via the .astype() function. We'll first have to replace each comma with a blank, then apply the int() function. We also have to take care to ignore all of the missing values from imdb_votes as we will be dealing with those later.

In [11]:
votes = data['imdb_votes']
votes_parsed = votes[votes.str.find(',')>0].apply(lambda x: x.replace(',',''))
for i in votes_parsed.index:
    votes[i] = votes_parsed[i]
votes.head()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

0    42583
1    21154
2    17801
3     5705
4      132
Name: imdb_votes, dtype: object

Then, we've successfully removed all of the commas. Let's confirm that we didn't lose any datapoints along the way.

In [12]:
[len(votes), len(data['imdb_votes'])]

[8468, 8468]

In order to convert to int, we have to find a way to work around missing values. Let's replace all the missing values with -1 and then convert them back to NaN after conversion.

In [13]:
import numpy as np

votes_int = votes.fillna(-1).astype('int')
votes_int[votes_int==-1] = np.nan
votes_int.isna().sum() == votes.isna().sum()

True

Then we see that we've successfully preserved the NaN cases.

In [14]:
data['imdb_votes'] = votes_int
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8468 entries, 0 to 8467
Data columns (total 19 columns):
imdbid              8468 non-null object
title               8468 non-null object
plot                8196 non-null object
rating              5252 non-null object
imdb_rating         7735 non-null float64
metacritic          5079 non-null float64
dvd_release         5335 non-null datetime64[ns]
production          6758 non-null object
actors              8153 non-null object
imdb_votes          7735 non-null float64
poster              7967 non-null object
director            8390 non-null object
release_date        8283 non-null datetime64[ns]
runtime             7846 non-null object
genre               8424 non-null object
awards              5242 non-null object
keywords            6381 non-null object
Budget              8468 non-null object
Box Office Gross    8468 non-null object
dtypes: datetime64[ns](2), float64(3), object(14)
memory usage: 1.2+ MB

Now we have to deal with 'Budget' and 'Box Office Gross' in a similar manner.

In [15]:
data[['Budget', 'Box Office Gross']].head()

   Budget Box Office Gross
0   18000                0
1   88300                0
2  220000            46585
3    6590                0
4       0                0

Looks like we don't have to worry about any commas in 'Budget' or in 'Box Office Gross', so the conversions will be much simplier. Upon further analysis, it turns out that there are entries that are in Euros instead of USD. We will have to parse out the 'EU' and then convert that number to USD.

In [16]:
budget = data['Budget'].astype('str')
data[budget.str.contains('EU')]

,imdbid,title,plot,rating,imdb_rating,metacritic,dvd_release,production,actors,imdb_votes,poster,director,release_date,runtime,genre,awards,keywords,Budget,Box Office Gross
2866,tt4538016,Unless,A writer struggles with her daughter's decisio...,NaN,5.8,NaN,NaT,NaN,"Catherine Keener, Matt Craven, Hannah Gross, C...",32.0,https://images-na.ssl-images-amazon.com/images...,Alan Gilsenan,2016-09-11,90 min,Drama,1 nomination.,NaN,"EU 3,973,431",0

Since there's only 1 value containing EU, it's simple enough to just assign the proper value to it. This movie was released in 2016, so we'll have to use the 2016 Euro to USD exchange rate (1.11), found [here](https://www.statista.com/statistics/412794/euro-to-u-s-dollar-annual-average-exchange-rate/).

In [17]:
3973431 * 1.11

4410508.41

In [18]:
budget[budget.str.contains('EU')] = '4410508'
budget.str.contains('EU').sum()

0

Once we try to apply .astype('int'), we encounter another case: 'CAD'.

In [19]:
data[budget.str.contains('CAD')]

,imdbid,title,plot,rating,imdb_rating,metacritic,dvd_release,production,actors,imdb_votes,poster,director,release_date,runtime,genre,awards,keywords,Budget,Box Office Gross
5203,tt1092082,Passchendaele,"The lives of a troubled veteran, his nurse gir...",R,6.5,NaN,2009-11-03,Alliance Atlantis,"Paul Gross, Caroline Dhavernas, Joe Dinicol, M...",7246.0,https://images-na.ssl-images-amazon.com/images...,Paul Gross,2008-10-17,114 min,"Drama, History, Romance",11 wins & 5 nominations.,battle|veteran|canadian-armed-forces|canadian-...,"CAD 20,000,000",0
5764,tt1376195,Gunless,A hardened American gunslinger is repeatedly t...,NaN,6.5,NaN,2011-08-08,Cinema Eopch,"Paul Gross, Sienna Guillory, Dustin Milligan, ...",3157.0,https://images-na.ssl-images-amazon.com/images...,William Phillips,2010-04-30,89 min,"Action, Comedy, Drama",5 wins & 5 nominations.,gunslinger|duel|wild-west|bounty-hunter|blacks...,"CAD 10,000,000",0

Once again, it's simple enough to just change these two values by hand since there are only 2. CAD to USD exchange rate found [here](https://fxtop.com/en/historical-currency-converter.php?A=100&C1=USD&C2=USD&DD=01&MM=01&YYYY=2008&B=1&P=&I=1&btnOK=Go%21).

In [29]:
[20000000*0.981523, 10000000*1.050118]

[19630460.0, 10501180.000000002]

In [30]:
budget[5203] = '19630460'
budget[5764] = '10501180'

In [48]:
budget.astype('int').head()

0     18000
1     88300
2    220000
3      6590
4         0
Name: Budget, dtype: int64

There aren't anymore errors when converting to int. Then we've finished parsing budget.

In [51]:
budget = budget.astype('int')
data['Budget'] = budget
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8468 entries, 0 to 8467
Data columns (total 19 columns):
imdbid              8468 non-null object
title               8468 non-null object
plot                8196 non-null object
rating              8468 non-null object
imdb_rating         7735 non-null float64
metacritic          5079 non-null float64
dvd_release         5335 non-null datetime64[ns]
production          6758 non-null object
actors              8153 non-null object
imdb_votes          7735 non-null float64
poster              7967 non-null object
director            8390 non-null object
release_date        8283 non-null datetime64[ns]
runtime             7846 non-null object
genre               8424 non-null object
awards              5242 non-null object
keywords            6381 non-null object
Budget              8468 non-null int64
Box Office Gross    8468 non-null object
dtypes: datetime64[ns](2), float64(3), int64(1), object(13)
memory usage: 1.2+ MB

In [21]:
data.isna().sum()

imdbid                 0
title                  0
plot                 272
rating              3216
imdb_rating          733
metacritic          3389
dvd_release         3133
production          1710
actors               315
imdb_votes           733
poster               501
director              78
release_date         185
runtime              622
genre                 44
awards              3226
keywords            2087
Budget                 0
Box Office Gross       0
dtype: int64

Clearly we are going to have to do something about these missing values. We'll look at what each of these variables is and handle their missing values on a case by case basis.

In [22]:
data['rating'].unique()

array(['UNRATED', 'NOT RATED', nan, 'PG', 'G', 'TV-PG', 'PG-13', 'R',
       'TV-14', 'TV-MA', 'M', 'NC-17', 'APPROVED', 'X', 'NR', 'TV-G',
       'TV-Y', 'Unrated'], dtype=object)

Already I get the impression that the missing values should just be 'UNRATED' or 'NOT RATED'. First, we should figure out the distinction between unrated and not rated movies.

Not rated movies are movies that were not submitted to the MPAA for ratings.

Unrated movies are those that have had scenes altered/omitted/added that may or may not have an effect on a movie's rating. Usually this only happens with DVD releases. Using this knowledge, it makes sense to turn all the missing values into 'NOT RATED' categories. There's no good reason to justify giving them a rating.

Another solution is to find another dataset containing each movie and their respective ratings.

In [23]:
data[data['rating'].isna()].head()

,imdbid,title,plot,rating,imdb_rating,metacritic,dvd_release,production,actors,imdb_votes,poster,director,release_date,runtime,genre,awards,keywords,Budget,Box Office Gross
3,tt0074252,"Ugly, Dirty and Bad",Four generations of a family live crowded toge...,NaN,7.9,NaN,2016-11-01,Compagnia Cinematografica Champion,"Nino Manfredi, Maria Luisa Santella, Francesco...",5705.0,https://images-na.ssl-images-amazon.com/images...,Ettore Scola,1976-09-23,115 min,"Comedy, Drama",1 win & 2 nominations.,incest|failed-murder-attempt|poisoned-food|bap...,6590,0
4,tt0084269,Losing Ground,A comedy-drama about a Black American female p...,NaN,6.3,NaN,NaT,Milestone Film & Video,"Billie Allen, Gary Bolling, Clarence Branch Jr...",132.0,https://images-na.ssl-images-amazon.com/images...,Kathleen Collins,1982-06-01,86 min,"Comedy, Drama",NaN,artist|painter|marriage|black-independent-film...,0,0
5,tt0085180,L'argent,A forged 500-franc note is cynically passed fr...,NaN,7.5,95.0,2005-05-24,Criterion Collection,"Christian Patey, Vincent Risterucci, Caroline ...",5607.0,https://images-na.ssl-images-amazon.com/images...,Robert Bresson,1983-05-18,85 min,"Crime, Drama",2 wins & 3 nominations.,note|murder|solitary-confinement|robbery|deliv...,0,0
9,tt0103935,Rebels of the Neon God,"Within the urban gloom of Taipei, four youths ...",NaN,7.6,82.0,2015-10-27,Big World Pictures,"Chao-jung Chen, Chang-Bin Jen, Kang-sheng Lee,...",2155.0,https://images-na.ssl-images-amazon.com/images...,Ming-liang Tsai,1994-08-04,106 min,"Crime, Drama",5 wins & 5 nominations.,taipei|cigarette-smoking|hotel-room|kissing|ph...,28422,0
13,tt0110998,River of Grass,"Cozy, a dissatisfied housewife, meets Lee at a...",NaN,6.5,69.0,2003-03-18,Oscilloscope Laboratories,"Larry Fessenden, Dick Russell, Stan Kaplan, Mi...",582.0,https://images-na.ssl-images-amazon.com/images...,Kelly Reichardt,1995-10-13,76 min,Drama,6 nominations.,f-rated|title-directed-by-female|directorial-d...,8534,0

Looking at the first few movies with missing ratings, let's get a sense of whether they just have no rating at all, or if the dataset is just missing data.

[Ugly, Dirty, and Bad](https://www.rottentomatoes.com/m/ugly_dirty_and_bad), has a rating of 'NR', Not Rated.

[Losing Ground](https://www.rottentomatoes.com/m/losing_ground_1982), has a rating of 'NR', Not Rated.

[L'argent](https://www.rottentomatoes.com/m/largent), has a rating of 'NR', Not Rated.

[Rebels of the Neon God](https://www.rottentomatoes.com/m/rebels_of_the_neon_god), has a rating of 'NR', Not Rated. Strangely enough, this movie is listed as having come out on Apr 10, 2015. Whereas the dataset has August 4, 1994.

[River of Grass](https://www.rottentomatoes.com/m/river_of_grass), has a rating of 'NR', Not Rated.

Then it seems like a reasonable idea to assign each missing rating, 'NOT RATED'.

In [24]:
data['rating'] = data['rating'].fillna('NOT RATED')

In [25]:
data.isna().sum()

imdbid                 0
title                  0
plot                 272
rating                 0
imdb_rating          733
metacritic          3389
dvd_release         3133
production          1710
actors               315
imdb_votes           733
poster               501
director              78
release_date         185
runtime              622
genre                 44
awards              3226
keywords            2087
Budget                 0
Box Office Gross       0
dtype: int64

In [26]:
data['imdb_rating'].unique()

array([ 8.1,  8. ,  7.2,  7.9,  6.3,  7.5,  7.8,  7.3,  7.6,  6.5,  8.8,
        7.7,  6.7,  5.2,  7. ,  6.2,  6.1,  6. ,  5.1,  6.6,  3.3,  6.9,
        5.9,  nan,  6.8,  7.1,  8.3,  7.4,  6.4,  5.7,  5.5,  5.4,  3.8,
        4.2,  4.3,  5.8,  5.6,  3.5,  5. ,  3.4,  8.6,  4.8,  4.9,  8.2,
        4.7,  4.6,  4. ,  4.4,  5.3,  8.5,  4.5,  4.1,  3.1,  8.4,  3.6,
        3.7,  1.6,  2.9,  3.9,  2.6,  3.2,  8.7,  9.2,  2.1,  9.4,  1.8,
        8.9,  2.3,  2.7,  9.5,  1.9,  9. ,  9.7,  9.3,  9.1,  2.8,  2.4,
        2. ,  2.2,  1.1,  3. ,  1.4,  2.5,  1.7,  9.8, 10. ,  9.9])

The first thing I notice is that we have partial ratings (ie. 8.5, 1.3, 2.2, etc.). Also, this is ordinal data, an 8 movie is better than a 7 movie is better than a 6 movie... So we will bin the ratings into the set [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] after we deal with the missing data.

In [27]:
data[data['imdb_rating'].isna()]

,imdbid,title,plot,rating,imdb_rating,metacritic,dvd_release,production,actors,imdb_votes,poster,director,release_date,runtime,genre,awards,keywords,Budget,Box Office Gross
36,tt0427340,Masters of the Universe,"He-Man, the most powerful man in the universe,...",NOT RATED,NaN,NaN,NaT,Sony Pictures Entertainment,NaN,NaN,NaN,NaN,2019-12-18,NaN,"Action, Adventure, Drama",NaN,sword|sword-and-sorcery|sword-and-fantasy|spin...,0,0
42,tt0437086,Alita: Battle Angel,"In the twenty-sixth century, a female cyborg i...",NOT RATED,NaN,NaN,NaT,ADV Films,"Michelle Rodriguez, Jennifer Connelly, Mahersh...",NaN,https://images-na.ssl-images-amazon.com/images...,Robert Rodriguez,2018-07-20,NaN,"Action, Adventure, Romance",NaN,based-on-manga|cyborg|female-cyborg|26th-centu...,200000000,0
46,tt0448115,Shazam!,A boy is given the ability to become an adult ...,NOT RATED,NaN,NaN,NaT,Warner Bros.,Dwayne Johnson,NaN,NaN,David F. Sandberg,2019-04-05,NaN,"Action, Fantasy, Sci-Fi",NaN,shazam|wizard|superhero|magic|dc-extended-univ...,0,0
55,tt0460890,The Only Living Boy in New York,"Adrift in New York City, a recent college grad...",NOT RATED,NaN,NaN,NaT,Amazon Studios & Roadside Attractions,"Kate Beckinsale, Pierce Brosnan, Jeff Bridges,...",NaN,https://images-na.ssl-images-amazon.com/images...,Marc Webb,2017-08-11,NaN,Drama,NaN,title-based-on-song,163145,0
75,tt0491175,Suburbicon,A home invasion rattles a quiet family town.,R,NaN,NaN,NaT,NaN,"Matt Damon, Julianne Moore, Oscar Isaac, Megan...",NaN,NaN,George Clooney,2017-11-03,NaN,"Comedy, Crime, Mystery",NaN,one-word-title|dark-comedy,0,0
76,tt0491203,Tulip Fever,An artist falls for a young married woman whil...,R,NaN,NaN,NaT,The Weinstein Company,"Cara Delevingne, Alicia Vikander, Dane DeHaan,...",NaN,https://images-na.ssl-images-amazon.com/images...,Justin Chadwick,2017-08-25,107 min,"Drama, Romance",NaN,17th-century|portrait|artist|amsterdam|tulips|...,25000000,0
151,tt0974015,Justice League,Fueled by his restored faith in humanity and i...,NOT RATED,NaN,NaN,NaT,Warner Bros. Pictures,"Gal Gadot, Robin Wright, Connie Nielsen, Jason...",NaN,https://images-na.ssl-images-amazon.com/images...,Zack Snyder,2017-11-17,NaN,"Action, Adventure, Fantasy",NaN,justice-league|superhero-teamup|comicbook-movi...,0,0
191,tt1072748,Winchester Mystery House,NaN,NOT RATED,NaN,NaN,NaT,NaN,Helen Mirren,NaN,NaN,"Michael Spierig, Peter Spierig",NaT,NaN,Thriller,NaN,NaN,0,0
217,tt1131724,2:22,A man's life is derailed when an ominous patte...,PG-13,NaN,NaN,2017-06-30,NaN,"Teresa Palmer, Michiel Huisman, Sam Reid, Maev...",NaN,https://images-na.ssl-images-amazon.com/images...,Paul Currie,2017-06-30,NaN,Thriller,NaN,time-for-title|number-in-title,0,0
221,tt1137450,Death Wish,A mild-mannered father is transformed into a k...,R,NaN,NaN,NaT,NaN,"Jack Kesy, Bruce Willis, Vincent D'Onofrio, El...",NaN,NaN,Eli Roth,NaT,NaN,"Action, Crime, Drama",NaN,remake|based-on-novel|vigilante,0,0
259,tt1213641,First Man,"A look at the life of astronaut, Neil A. Armst...",NOT RATED,NaN,NaN,NaT,NaN,Ryan Gosling,NaN,NaN,Damien Chazelle,2018-10-12,NaN,"Biography, Drama",NaN,moon|astronaut|space-exploration|1960s|based-o...,0,0
296,tt1259528,Den of Thieves,"While planning a bank heist, a thief gets trap...",NOT RATED,NaN,NaN,NaT,NaN,Gerard Butler,NaN,NaN,Christian Gudegast,NaT,NaN,"Action, Drama",NaN,bank-heist,0,0
299,tt1262426,Wicked,The story of how a green-skinned woman framed ...,NOT RATED,NaN,NaN,NaT,NaN,NaN,NaN,NaN,Stephen Daldry,2019-12-20,NaN,"Fantasy, Musical, Romance",NaN,oz|wizard|wizard-of-oz|witch|based-on-stage-mu...,0,0
305,tt1270797,Venom,This plot is unknown.,NOT RATED,NaN,NaN,2013-06-18,Columbia Pictures,Tom Hardy,NaN,NaN,Ruben Fleischer,2018-10-05,NaN,"Action, Horror, Sci-Fi",NaN,male-nudity|superhero|marvel-comics|based-on-c...,0,0
369,tt1365519,Tomb Raider,"Lara Croft, the fiercely independent daughter ...",NOT RATED,NaN,NaN,NaT,GK Films,"Alicia Vikander, Walton Goggins, Hannah John-K...",NaN,https://images-na.ssl-images-amazon.com/images...,Roar Uthaug,2018-03-16,NaN,"Action, Adventure",NaN,lara-croft|re-boot|peril|female-protagonist|ac...,0,0
382,tt1389072,Downsizing,A social satire in which a guy realizes he wou...,NOT RATED,NaN,NaN,NaT,Paramount Pictures,"Matt Damon, Laura Dern, Kristen Wiig, Christop...",NaN,https://images-na.ssl-images-amazon.com/images...,Alexander Payne,2017-12-22,NaN,"Comedy, Drama",NaN,NaN,0,0
413,tt1413492,Horse Soldiers,A team of CIA agents and special forces head i...,NOT RATED,NaN,NaN,NaT,NaN,"Chris Hemsworth, Elsa Pataky, Michael Shannon,...",NaN,https://images-na.ssl-images-amazon.com/images...,Nicolai Fuglsig,2018-01-19,NaN,"Drama, War",NaN,taliban|cia|cia-agent|afghanistan|two-word-tit...,0,0
444,tt1457762,Bride of Frankenstein,NaN,NOT RATED,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Horror,NaN,universal-monsters|remake|frankenstein|dark-un...,0,0
450,tt1462764,Untitled Indiana Jones Project,The plot is unknown at this time.,NOT RATED,NaN,NaN,NaT,NaN,Harrison Ford,NaN,NaN,Steven Spielberg,1920-07-10,NaN,"Action, Adventure",NaN,sequel|indiana-jones|fifth-part|character-name...,0,0
461,tt1477834,Aquaman,Arthur Curry learns that he is the heir to the...,NOT RATED,NaN,NaN,NaT,Warner Bros.,"Jason Momoa, Amber Heard, Nicole Kidman, Dolph...",NaN,https://images-na.ssl-images-amazon.com/images...,James Wan,2018-12-21,NaN,"Action, Adventure, Sci-Fi",NaN,atlantis|dc-extended-universe|dc-cinematic-uni...,160000000,0
469,tt1485796,The Greatest Showman,"The story of P.T Barnum, a visionary who rose ...",NOT RATED,NaN,NaN,NaT,20th Century Fox,"Zac Efron, Hugh Jackman, Rebecca Ferguson, Zen...",NaN,https://images-na.ssl-images-amazon.com/images...,Michael Gracey,2017-12-25,NaN,"Biography, Drama, Musical",NaN,based-on-real-people|singing|showman|circus|ba...,0,0
479,tt1502397,Bad Boys for Life,The plot is unknown at this time.,NOT RATED,NaN,NaN,NaT,Sony Pictures,"Will Smith, Martin Lawrence, Derrick Gilbert",NaN,NaN,NaN,2018-11-09,NaN,"Action, Comedy, Thriller",NaN,third-part|third-in-trilogy|sequel|police-offi...,0,0
481,tt1502407,Halloween Returns,The plot is unknown at this time.,NOT RATED,NaN,NaN,NaT,The Weinstein Company,NaN,NaN,NaN,Marcus Dunstan,NaT,NaN,Horror,NaN,ninth-part|retcon|murder|street|killing|death|...,0,0
488,tt1517268,Barbie,A doll living in 'Barbieland' is expelled for ...,NOT RATED,NaN,NaN,NaT,Sony Pictures,NaN,NaN,NaN,NaN,2018-06-29,NaN,"Adventure, Comedy, Drama",NaN,barbie|f-rated,0,0
489,tt1517451,A Star Is Born,A movie star helps a young singer/actress find...,NOT RATED,NaN,NaN,NaT,Gerber Pictures,"Sam Elliott, Bradley Cooper, Lady Gaga, Bonnie...",NaN,https://images-na.ssl-images-amazon.com/images...,Bradley Cooper,2018-09-28,NaN,"Drama, Musical, Romance",NaN,alcoholism|movie-star|singer|showbiz|remake|re...,0,0
530,tt1571234,Mortal Engines,A film adaptation of the popular book series o...,NOT RATED,NaN,NaN,NaT,NaN,NaN,NaN,NaN,Christian Rivers,2018-12-14,NaN,Sci-Fi,NaN,machine|based-on-young-adult-novel|epic|post-a...,100000000,0
543,tt1590193,The Commuter,A businessman is caught up in a criminal consp...,NOT RATED,NaN,NaN,NaT,StudioCanal,"Vera Farmiga, Liam Neeson, Patrick Wilson, Jon...",NaN,NaN,Jaume Collet-Serra,2017-10-13,NaN,"Action, Thriller",NaN,NaN,0,0
574,tt1615160,The Foreigner,The IRA took his family. The police looked the...,NOT RATED,NaN,NaN,NaT,NaN,"Pierce Brosnan, Jackie Chan, Charlie Murphy, K...",NaN,https://images-na.ssl-images-amazon.com/images...,Martin Campbell,2017-10-13,NaN,"Action, Thriller",NaN,terrorism|terrorist|revenge|ira,35000000,0
577,tt1620680,A Wrinkle in Time,After the disappearance of her scientist fathe...,NOT RATED,NaN,NaN,NaT,Walt Disney Pictures,"Chris Pine, Reese Witherspoon, Gugu Mbatha-Raw...",NaN,https://images-na.ssl-images-amazon.com/images...,Ava DuVernay,2018-03-09,NaN,"Adventure, Family, Fantasy",NaN,scientist|twins|space-time|mixed-race|child-pr...,103000000,0
590,tt1630029,Avatar 2,A sequel to Avatar (2009).,NOT RATED,NaN,NaN,NaT,20th Century Fox,"Zoe Saldana, Cliff Curtis, Sam Worthington, Si...",NaN,https://images-na.ssl-images-amazon.com/images...,James Cameron,1920-12-18,NaN,"Action, Adventure, Fantasy",NaN,sequel|second-part,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8389,tt7038600,Pandorum,NaN,NOT RATED,NaN,NaN,NaT,NaN,"Anil Kandel, Bhintuna Rajbhandari, Baburam Raut",NaN,NaN,Subigya Sunder Shrestha,2016-09-14,3 min,"Short, Drama, Fantasy",NaN,NaN,0,0
8390,tt7054636,Tyler Perry's a Madea Family Funeral,A joyous family reunion becomes a hilarious ni...,NOT RATED,NaN,NaN,NaT,NaN,"Tyler Perry, Patrice Lovely, Cassi Davis, Cier...",NaN,NaN,Tyler Perry,2018-08-03,NaN,Comedy,NaN,NaN,0,0
8392,tt7058576,E 1200,"Sara, a good-girl who has no other choice but ...",NOT RATED,NaN,NaN,NaT,NaN,"Bailee Blair, Jessi Burkette, Sarah Keith, Ell...",NaN,https://images-na.ssl-images-amazon.com/images...,Kalee Forsythe,2017-04-27,15 min,"Short, Crime, Drama",NaN,independent-film,5000,0
8393,tt7060140,88,NaN,NOT RATED,NaN,NaN,NaT,NaN,Madhan,NaN,https://images-na.ssl-images-amazon.com/images...,"Madan, Madhan",2017-07-21,NaN,Family,NaN,NaN,0,0
8394,tt7063588,99,Five characters that do not know each other st...,NOT RATED,NaN,NaN,NaT,NaN,"Giorgio Clementelli, Loretta Di Chio, Daniela ...",NaN,https://images-na.ssl-images-amazon.com/images...,Giorgio Clementelli,2017-09-01,14 min,"Short, Horror",NaN,NaN,0,0
8395,tt7068818,The Houses October Built 2,NaN,NOT RATED,NaN,NaN,NaT,Foreboding Films,"Brandy Schaefer, Zack Andrews, Mikey Roe, Bobb...",NaN,https://images-na.ssl-images-amazon.com/images...,Bobby Roe,2017-09-22,NaN,Horror,NaN,halloween,0,0
8397,tt7085054,Lost & Found,'Lost and Found' is a film with 7 interconnect...,NOT RATED,NaN,NaN,NaT,NaN,"Barbara Adair, Lynette Callaghan, Liam Carney,...",NaN,https://images-na.ssl-images-amazon.com/images...,Liam O Mochain,2017-07-15,92 min,"Comedy, Drama",NaN,NaN,0,0
8398,tt7088642,Cheryl Feat. Tinie Tempah: Crazy Stupid Love,NaN,NOT RATED,NaN,NaN,NaT,NaN,"Cheryl, Tinie Tempah",NaN,https://images-na.ssl-images-amazon.com/images...,Colin Tilley,2014-06-09,NaN,"Short, Music",NaN,NaN,0,0
8399,tt7097856,Untitled Fox/Marvel Film,NaN,NOT RATED,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,2019-06-07,NaN,NaN,NaN,NaN,0,0
8400,tt7097862,Untitled Fox/Marvel Film,NaN,NOT RATED,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,2019-11-22,NaN,NaN,NaN,NaN,0,0
8401,tt7097892,Untitled Fox/Marvel Film,NaN,NOT RATED,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,1920-03-13,NaN,NaN,NaN,NaN,0,0
8402,tt7097894,Untitled Fox/Marvel Film,NaN,NOT RATED,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,1920-06-26,NaN,NaN,NaN,NaN,0,0
8403,tt7097896,Untitled Fox/Marvel Film,NaN,NOT RATED,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,1920-10-02,NaN,NaN,NaN,NaN,0,0
8404,tt7097914,Untitled Fox/Marvel Film,NaN,NOT RATED,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,1921-03-05,NaN,NaN,NaN,NaN,0,0
8405,tt7098090,Apollo 18,A lone astronaut is sent to the moon in order ...,NOT RATED,NaN,NaN,NaT,NaN,"Ryan Brennan, Gabe Caleca, Maria Feist, Claire...",NaN,https://images-na.ssl-images-amazon.com/images...,Ryan Patton,2017-06-23,4 min,"Short, Sci-Fi",NaN,NaN,0,0
8406,tt7102426,Rocky Mental,Rocky Mental is a non linear action/thriller a...,NOT RATED,NaN,NaN,NaT,Dhamrait Film Production,"Mahavir Bhullar, Tannu Kaur Gill, Jagjit, Kara...",NaN,https://images-na.ssl-images-amazon.com/images...,Vikram Thori,2017-08-18,129 min,Drama,NaN,NaN,3000000,0
8407,tt7108570,Breach,"A New Orleans man, imprisoned before the ravag...",NOT RATED,NaN,NaN,NaT,NaN,"Nathan Wallace, Lance E. Nichols, Gary Tucker",NaN,https://images-na.ssl-images-amazon.com/images...,Justine Browning,2017-08-23,NaN,"Short, Drama",NaN,NaN,0,0
8408,tt7122592,Reservoir Dogs: Remake,A one minute remake tribute to the Quentin Tar...,NOT RATED,NaN,NaN,NaT,NaN,"Nemanja Mladenovic, Predrag Grujic, Nemanja Mi...",NaN,https://images-na.ssl-images-amazon.com/images...,Nemanja Mladenovic,2015-01-20,1 min,"Short, Comedy, Crime",NaN,NaN,0,0
8410,tt7136718,Keep Quiet,NaN,NOT RATED,NaN,NaN,NaT,NaN,"Maggie Dexter, Kathryn Groh, Tom Haselwood, Gr...",NaN,NaN,Luis S. Alvarez,2017-08-09,NaN,"Short, Drama",NaN,NaN,700,0
8411,tt7147640,Submerged,"Every year during monsoons, the rivers flowing...",NOT RATED,NaN,NaN,NaT,NaN,NaN,NaN,https://images-na.ssl-images-amazon.com/images...,Nishtha Jain,2017-02-06,8 min,"Documentary, Short",NaN,NaN,0,0
8412,tt7156454,Afflicted One,NaN,NOT RATED,NaN,NaN,NaT,NaN,"Becca Nicole Preston, Cody Wise",NaN,https://images-na.ssl-images-amazon.com/images...,Chip Carriere,2017-12-01,12 min,"Short, Crime",NaN,NaN,2000,0
8414,tt7174688,This Means War,Marie and Amy are guests at their best friends...,NOT RATED,NaN,NaN,NaT,NaN,"Sean Cancellieri, Hannah Emerson, Ryan W. Garc...",NaN,NaN,Kelly Walker,2017-09-01,NaN,"Short, Comedy",NaN,NaN,0,0
8416,tt7188742,Paisa Vasool,NaN,NOT RATED,NaN,NaN,NaT,NaN,"Shriya Saran, Nandamuri Bala Krishna, Ali, Kyr...",NaN,https://images-na.ssl-images-amazon.com/images...,Puri Jagannadh,2017-09-01,NaN,"Action, Drama",NaN,NaN,0,0
8418,tt7192934,Slipknot: Day of the Gusano,Slipknot' 'Knotfest' performance is chronicled...,NOT RATED,NaN,NaN,NaT,NaN,"Shawn Crahan, Chris Fehn, Craig Jones, James Root",NaN,https://images-na.ssl-images-amazon.com/images...,Shawn Crahan,2017-09-06,NaN,Documentary,NaN,mexico|slipknot,0,0
8419,tt7194568,47,Uwe and Hermine have been married for 47 years...,NOT RATED,NaN,NaN,NaT,NaN,"Hermine Schwarz, Uwe Schwarz",NaN,NaN,Michael Schwarz,2016-11-17,15 min,"Documentary, Short",NaN,NaN,0,"EU5,000"
8421,tt7212768,1917,"Attempting to bury his past, an Ottoman soldie...",NOT RATED,NaN,NaN,NaT,NaN,"Lance De Los Santos, Terry Raper, Daniel Tanne...",NaN,NaN,Joshua Gallas,2017-05-18,13 min,"Short, Drama",NaN,NaN,0,0
8424,tt7334528,Uncle Drew,After draining his life savings to enter a tea...,NOT RATED,NaN,NaN,NaT,NaN,"Nick Kroll, Erica Ash, Shaquille O'Neal, LilRe...",NaN,NaN,Charles Stone III,2018-06-29,NaN,Comedy,NaN,NaN,0,0
8425,tt7339584,City of Rock,A young musician from a small town in China tr...,NOT RATED,NaN,NaN,NaT,NaN,"Chengpeng Dong, Coulee Nazha",NaN,NaN,Chengpeng Dong,2017-10-06,NaN,"Comedy, Music",NaN,NaN,0,0
8426,tt7370188,Nikka zaildar 2,NaN,NOT RATED,NaN,NaN,NaT,NaN,"Sonam Bajwa, Wamiqa Gabbi, Ammy Virk, Karamjit...",NaN,NaN,Simerjit Singh,2017-09-22,NaN,Drama,NaN,\N,4000000,0
8465,tt5884484,Dreamcatcher,"A sexual discovery story of a young woman, Ann...",NOT RATED,NaN,NaN,NaT,NaN,"Bill Lippincott, Anthony Del Negro, Melia Rene...",NaN,https://images-na.ssl-images-amazon.com/images...,Pedro Borges,2016-03-18,NaN,"Short, Drama",NaN,NaN,0,0

Notice that a fair number of movies that are missing imdb ratings are also missing metacritic ratings, dvd releases, posters, and box office returns. On top of all of this, many also have release dates that are after 9/21/2017. There isn't a reason to try to impute these values since they're essentially missing all relevant information because they haven't been released yet.